{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page with GIF</title>
    <style>
        /* Center the GIF */
        .gif-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw; /* Full width of viewport */
            height: 100vh; /* Full height of viewport */
            cursor: pointer; /* Set cursor style to pointer */
        }
    </style>
</head>
<body>
<!-- GIF Container -->
<div class="gif-container">
    <!-- Add your GIF here -->
    <a href="{% url 'home_page' %}">
        <img src="{% static 'images/404_strawberry.gif' %}" alt="OOPS...404 Page">
    </a>
</div>

<!-- Content after the GIF -->
</body>
</html>
