{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FinView - התחברות</title>

    <!-- Local CSS Files -->
    <link rel="stylesheet" type="text/css" href=" {% static '/css/login.css' %} ">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Local JS Files -->
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form method="post" action="{% url 'register_post' %}">
            {% csrf_token %}
            <h1>צור חשבון</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>או השתמש במייל ליצירת חשבון</span>
            <label for="full_name"></label><input type="text" id="full_name" name="full_name" required placeholder="שם מלא">
            <label for="username"></label><input type="text" id="username" name="username" required placeholder="שם משתמש">
            <label for="email"></label><input type="email" id="email" name="email" required placeholder="מייל">
            <label for="password"></label><input type="password" id="password" name="password" required placeholder="סיסמה">
                {% if messages %}
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            <button>הירשם</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form method="post" action="{% url 'login_post' %}">
            {% csrf_token %}
            <h1>כניסה לאזור האישי</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>או התחבר עם מייל וסיסמה</span>
            <label for="username"></label><input type="text" id="username" name="username" required placeholder="שם משתמש">
            <label for="password"></label><input type="password" id="password" name="password" required placeholder="סיסמה">

            {% if success_registration %}
                <div class="success-message">{{ success_registration }}</div>
            {% endif %}

            {% if failure_registration %}
                <div class="error-message">{{ failure_registration }}</div>
            {% endif %}

            {% if failure_login %}
                <div class="error-message">{{ failure_login }}</div>
            {% endif %}

            <a href="#">שכחת את הסיסמה?</a>
            <button class="login-btn" id="login-btn">התחבר</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>ברוך שובך!</h1>
                <p>כדי להישאר מחובר, התחבר למשתמש קיים</p>
                <button class="ghost" id="signIn">התחבר</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>שלום לך!</h1>
                <p>אנא הכנס את פרטיך האישיים כדי להתחיל את המסע</p>
                <button class="ghost" id="signUp">הירשם</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>