@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-navbar-interactive {
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--dl-space-space-twounits) var(--dl-space-space-threeunits);
    justify-content: space-between;
    background-color: #3498db;
}

.home-image {
    height: 2rem;
}

.home-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.home-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-family: 'Gan', sans-serif;
    font-size: 20px;
}

.home-text {
    color: #ffffff;
    transition: 0.3s;
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 100;
    margin-left: var(--dl-space-space-twounits);
}

.home-text:hover {
    font-size: 20px;
    animation-name: none;
    animation-direction: normal;
}

.home-text01 {
    color: #ffffff;
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.home-text01:hover {
    font-size: 20px;
}

.home-text02 {
    color: #ffffff;
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.home-text02:hover {
    font-size: 20px;
}

.home-text03 {
    color: #ffffff;
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.home-text03:hover {
    font-size: 20px;
}

.home-text04 {
    color: #ffffff;
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.home-text04:hover {
    font-size: 20px;
}

.home-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.home-login {
    transition: 0.3s;
    border-width: 0;
    margin-right: var(--dl-space-space-twounits);
}

.home-login:hover {
    animation-name: pulse;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.home-register {
    transition: 0.3s;
}

.home-register:hover {
    animation-name: pulse;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.home-burger-menu {
    display: none;
}

.home-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.home-mobile-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.home-logo {
    height: 2rem;
}

.home-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.home-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.home-text05 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-text06 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-text07 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-text08 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-text09 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.home-login1 {
    margin-right: var(--dl-space-space-twounits);
}

.home-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.home-double-vertical-layout1 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.home-double-horizontal-layout1 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: right;
}

.home-double-horizontal-layout2 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .home-navbar-interactive {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-desktop-menu {
        display: none;
    }

    .home-burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-text05 {
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-text06 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-text07 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-text08 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-text09 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }
}

@media (max-width: 479px) {
    .home-navbar-interactive {
        padding: var(--dl-space-space-unit);
    }

    .home-mobile-menu {
        padding: 16px;
    }
}

/* ----------------- Transaction Table CSS ----------------- */
#transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 30px; /* Adjust as needed */
}

#transactions-table th {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: right;
    color: #4C495A;
    background-color: initial;
}

.transaction_description_col {
    border-bottom: 1px solid #ddd;
    padding-left: 45px;
    padding-bottom: 18px;
    text-align: left;
    background-image: url('https://i.pinimg.com/564x/06/ae/e9/06aee950c65877ff0c0ecb2e191bab00.jpg');
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: 35px;
}

.transaction_amount_col {
    border-bottom: 1px solid #ddd;
    padding-left: 45px;
    text-align: left;
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: 35px;
}

.outcome_name {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    color: #4C495A;
    text-align: left;
}

.outcome_category {
    font-family: 'Gan', sans-serif;
    font-size: 13px;
    color: #C6C6C6;
    text-align: left;
}

.outcome_price {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    color: #4C495A;
    text-align: right;
}

.outcome_date {
    font-family: 'Gan', sans-serif;
    font-size: 13px;
    color: #C6C6C6;
    text-align: right;
}

/* ----------------- Income Table CSS ----------------- */
#income-table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 20px; /* Adjust as needed */
}

#income-table th {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: right;
    color: #4C495A;
    background-color: initial;
}

.income_description_col {
    border-bottom: 1px solid #ddd;
    padding-left: 45px;
    padding-bottom: 18px;
    text-align: left;
    background-image: url('https://i.pinimg.com/564x/06/ae/e9/06aee950c65877ff0c0ecb2e191bab00.jpg');
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: 35px;
}

.income_amount_col {
    border-bottom: 1px solid #ddd;
    padding-left: 45px;
    text-align: right;
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: 35px;
}

.income_name {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    color: #4C495A;
    text-align: left;
}

.income_category {
    font-family: 'Gan', sans-serif;
    font-size: 13px;
    color: #C6C6C6;
    text-align: left;
}

.income_amount {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    color: #4C495A;
    text-align: right;
}

.income_date {
    font-family: 'Gan', sans-serif;
    font-size: 13px;
    color: #C6C6C6;
    text-align: right;
}


/* ----------------- Dashboard Panel Upper ----------------- */
.dashboard-container {
    padding: 20px 20px 20px;
    direction: rtl;
}

.dashboard-headline h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Gan', sans-serif;
    color: #4C495A;
}

.home-overview h2,
.buttons h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #4C495A;
}

.home-overview ul {
    display: inline-block; /* Display list items in a row */
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    color: #4C495A;
    margin-bottom: 10px;
}

.home-overview li {
    display: inline-block; /* Display list items in a row */
    margin-right: 10px; /* Adjust spacing between items */
    font-family: 'Gan', sans-serif;
}

#current-charge {
    color: #000000;
    font-size: 30px;
    padding-left: 20px;
}

#last-charge {
    color: #000000;
    font-size: 30px;
    padding-left: 20px;
}

#current-savings {
    color: #000000;
    font-size: 30px;
    padding-left: 20px;
}

/* ----------------- Credit Cards Panel ----------------- */
.cards-group {
    display: flex;
    margin: 10px;
}

.credit-cards h2 {
    margin-right: 10px;
    color: #4C495A;
}

.no-cards-title {
    margin: 7px;
    color: #4C495A;
    font-family: 'Gan', sans-serif;
    font-size: 17px;
}

.card {
    width: 224px;
    height: 140px;
    border-radius: 10px;
    perspective: 1000px;
    margin-right: 10px;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 600ms ease;
    transform-style: preserve-3d;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.2);
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
    background: linear-gradient(321.03deg, #01adef 0%, #0860bf 91.45%);
}

.card-front {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 300ms ease-in-out;
}

.card-back {
    transform: rotateY(180deg);
}

.card-back::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 20%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-image: linear-gradient(to right top, #a3d4e7, #a7d5e6, #abd5e4, #aed6e3, #b2d6e2, #aed4e2, #abd3e1, #a7d1e1, #9bcee1, #8ecae1, #81c7e1, #73c3e1);
    filter: blur(10px);
    opacity: 0.15;
}

.card-back::after {
    content: "";
    position: absolute;
    top: 15%;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right top, #021318, #07191f, #0a1f26, #0b262e, #0c2c35, #0c2c35, #0c2c35, #0c2c35, #0b262e, #0a1f26, #07191f, #021318);
}

.card-bg {
    position: absolute;
    top: -20px;
    right: -120px;
    width: 2240px;
    height: 140px;
    background: linear-gradient(321.03deg, #01adef 0%, #0860bf 91.45%);
    border-top-left-radius: 100%;
}

.card-bg::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -80px;
    width: 380px;
    height: 250px;
    background: linear-gradient(321.03deg, #01adef 0%, #0860bf 91.45%);
    border-top-left-radius: 100%;
}

.card-bg::after {
    content: "";
    position: absolute;
    top: -20px;
    right: -120px;
    width: 380px;
    height: 250px;
    background: linear-gradient(321.03deg, #01adef 0%, #0860bf 91.45%);
    border-top-left-radius: 100%;
}

.card-glow {
    position: absolute;
    top: -140px;
    left: -65px;
    height: 200px;
    width: 400px;
    background: rgba(0, 183, 255, 0.4);
    filter: blur(10px);
    border-radius: 100%;
    transform: skew(-15deg, -15deg);
}

.card-contactless {
    position: absolute;
    right: 12px;
    top: 30px;
    transform: scale(0.5);
}

.card-chip {
    position: absolute;
    top: 45px;
    left: 25px;
    width: 32px;
    height: 24px;
    border-radius: 5px;
    background-color: #ffda7b;
    overflow: hidden;
}

.card-chip::before {
    content: "";
    position: absolute;
    left: 49%;
    top: -7%;
    transform: translateX(-50%);
    background: #ffda7b;
    border: 1px solid #a27c1f;
    width: 25%;
    height: 110%;
    border-radius: 100%;
    z-index: 2;
}

.card-chip::after {
    content: "";
    position: absolute;
    top: 30%;
    left: -10%;
    background: transparent;
    border: 1px solid #a27c1f;
    width: 120%;
    height: 33%;
}

.card-holder {
    position: absolute;
    left: 25px;
    bottom: 20px;
    color: white;
    font-size: 12px;
    letter-spacing: 0.2em;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-number {
    position: absolute;
    left: 25px;
    bottom: 45px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2em;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-valid {
    position: absolute;
    right: 25px;
    bottom: 20px;
    color: white;
    font-size: 12px;
    letter-spacing: 0.2em;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-valid::before {
    content: "GOOD THRU";
    position: absolute;
    top: 1px;
    left: -55px;
    width: 50px;
    font-size: 7px;
}

.card-issuer {
    position: initial;
    text-align: left;
    margin: 12px;
    color: white;
    font-size: 12px;
    letter-spacing: 0.2em;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-signature {
    position: absolute;
    top: 80px;
    left: 15px;
    width: 70%;
    height: 30px;
    background: #eeecec;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #021318;
    font-family: "Mr Dafoe", cursive;
    font-size: 15px;
    font-weight: 400;
}

.card-signature::before {
    content: "Authorized Signature";
    position: absolute;
    top: -15px;
    left: 0;
    font-family: "Overpass Mono", monospace;
    font-size: 9px;
    color: #eeecec;
}

.card-seccode {
    position: absolute;
    top: 85px;
    left: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 17px;
    color: #021318;
    background-color: #eeecec;
    text-align: center;
    font-size: 11px;
}

.logo {
    position: absolute;
    right: 20px;
    top: 20px;
}


.dashboard-separator {
    position: initial;
    height: 450px;
    width: 1px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ccc;
}

.tables-separator-horizontal {
    position: initial;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: #ccc;
}

.tables-separator-vertical {
    position: initial;
    margin-right: 20px;
    margin-left: -10px;
    width: 3px;
    height: 170px;
    background-color: #ccc;
}

.balance-history {
    margin-right: 5px;
}


/* ----------------- Income & Outcome Half Doughnut-Pie CSS ----------------- */

.income-outcome-half-doughnut {
    position: relative;
    width: 450px;
    height: 280px;
}

.income-outcome-half-doughnut canvas {
    position: absolute;
}

.income-outcome-half-doughnut-percent {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 80px;
    padding-bottom: 20px;
    bottom: 0;
}

.income-outcome-half-doughnut-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 25px;
    bottom: 0;
}

/* ----------------- Subscription & Direct Debit CSS ----------------- */

.subscriptions-direct-debit-section {
    margin-right: 20px;
}

#subscriptions-table {
    width: 100%;
    border-collapse: collapse;
}

#subscriptions-table tr:nth-child(even) {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: right;
    color: #4C495A;
    background-color: #4BC0C0;
}

#subscriptions-table th {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: right;
    color: #4C495A;
    background-color: #FFFFFF;
}

.subscription-name-col {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-left: 4px;
    text-align: left;
}

.subscription-price-col {
    border-bottom: 1px solid #ddd;
    padding-left: 45px;
    text-align: right;
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: 35px;
}

.subscription-name-div {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    color: #4C495A;
    text-align: left;
}

.subscription-price-div {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    color: #4C495A;
    text-align: right;
}


#direct-debit-table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 100px; /* Adjust as needed */
}

#direct-debit-table tr:nth-child(even) {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: right;
    color: #4C495A;
    background-color: #ff6384;
}

#direct-debit-table th {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: right;
    color: #4C495A;
    background-color: #FFFFFF;
}

.direct-debit-name-col {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-left: 4px;
    text-align: left;
}

.direct-debit-price-col {
    border-bottom: 1px solid #ddd;
    padding-left: 45px;
    text-align: right;
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: 35px;
}

.direct-debit-name-div {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    color: #4C495A;
    text-align: left;
}

.direct-debit-price-div {
    font-family: 'Gan', sans-serif;
    font-size: 18px;
    color: #4C495A;
    text-align: right;
}

.subscriptions-direct-debit-section {
    margin-right: 20px;
}


/* ----------------- Quick OverView Doughnut-Pie CSS ----------------- */

.quick-overview-doughnut-pie canvas {
    position: initial;
    width: 100%; /* Set desired width */
    height: 100%; /* Set desired height */

}

.quick-overview-doughnut-pie-section {
    margin-right: 20px;
}


.line, .carousel, .carousel li, .carousel li img {
    width: 100%;
}

.flex, .center, .carousel ul, .carousel-wrapper {
    display: flex;
}

.center, .carousel ul {
    align-items: center;
    justify-content: center;
}

.carousel-wrapper {
    position: relative;
    max-width: 500px;
}

.carousel-wrapper input {
    display: none;
}

.carousel {
    overflow: hidden;
    border-radius: 15px;
}

.carousel ul {
    position: relative;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 500%;
    transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.carousel li img {
    border-radius: 15px;
}

.nav-dot {
    position: absolute;
    cursor: pointer;
    margin-left: -7.5px;
    bottom: -22.5px;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    background-color: #cccccc;
    border-radius: 50%;
    transition: 0.4s;
}

.nav-dot:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.nav-dot:active {
    transform: scale(0.9);
}

.nav-dot[for=slide1] {
    left: 40%;
}

#slide1:checked ~ .carousel ul {
    left: 0;
}

#slide1:checked ~ .nav-dot[for=slide1] {
    opacity: 1;
}

.nav-dot[for=slide2] {
    left: 45%;
}

#slide2:checked ~ .carousel ul {
    left: -100%;
}

#slide2:checked ~ .nav-dot[for=slide2] {
    opacity: 1;
}

.nav-dot[for=slide3] {
    left: 50%;
}

#slide3:checked ~ .carousel ul {
    left: -200%;
}

#slide3:checked ~ .nav-dot[for=slide3] {
    opacity: 1;
}

.nav-dot[for=slide4] {
    left: 55%;
}

#slide4:checked ~ .carousel ul {
    left: -300%;
}

#slide4:checked ~ .nav-dot[for=slide4] {
    opacity: 1;
}

.nav-dot[for=slide5] {
    left: 60%;
}

#slide5:checked ~ .carousel ul {
    left: -400%;
}

#slide5:checked ~ .nav-dot[for=slide5] {
    opacity: 1;
}

.left-arrow, .right-arrow {
    display: none;
    position: absolute;
    cursor: pointer;
    font-weight: bolder;
    text-shadow: 0 0 7.5px rgba(0, 0, 0, .7);
    top: 50%;
    z-index: 1;
    opacity: 0.7;
    margin-top: -25px;
    height: 50px;
    font-size: 50px;
    transition: 0.2s;
    color: #4C495A;
}

.left-arrow:hover, .right-arrow:hover {
    opacity: 1;
    transform: scale(1.2);
}

.left-arrow:active, .right-arrow:active {
    transform: scale(0.9);
}

.left-arrow {
    left: 15px;
}

.right-arrow {
    right: 15px;
}

#slide1:checked ~ .left-arrow[for=slide5], #slide1:checked ~ .right-arrow[for=slide2] {
    display: block;
}

#slide2:checked ~ .left-arrow[for=slide1], #slide2:checked ~ .right-arrow[for=slide3] {
    display: block;
}

#slide3:checked ~ .left-arrow[for=slide2], #slide3:checked ~ .right-arrow[for=slide4] {
    display: block;
}

#slide4:checked ~ .left-arrow[for=slide3], #slide4:checked ~ .right-arrow[for=slide5] {
    display: block;
}

#slide5:checked ~ .left-arrow[for=slide4], #slide5:checked ~ .right-arrow[for=slide1] {
    display: block;
}

.signature {
    margin-top: 100px;
    bottom: 0;
    font-family: "Quicksand", serif;
    color: rgba(150, 150, 170);
    text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
}

.signature .name {
    color: white;
}

.signature .dot {
    margin: 0 5px;
}

.signature a {
    color: white;
    text-decoration: underline;
}
